<!-- -*- web -*- -->
<p>Sort by:</p>

<select ng-model="$ctrl.orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

<ul>
  <li ng-repeat="phone in $ctrl.phones | orderBy:$ctrl.orderProp">{{phone.name}} -- {{phone.snippet}}</li>
</ul>
