<!DOCTYPE html>
<html ng-app="phonecatApplication">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <img src="foo.jpg">
    <phone-list/>
  </body>
</html>
